<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/admin/sidebar.css">
</head>
<body>
    <aside class="sidebar">
        <div class="logo">Wrist Vibe</div>
        <ul class="menu">
          <li><a href="/admin/dashboard">Dashboard</a></li>
          <li><a href="/admin/products">Products</a></li>
          <li><a href="/admin/users">Users</a></li>
          <li><a href="/admin/categories">Category</a></li>
        
        </ul>
      </aside>
</body>
</html>