<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style/admin/dashboard.css">
  
 
</head>
<body>

  <div class="container">
    <aside class="sidebar">
      <div class="logo">Wrist Vibe</div>
      <ul class="menu">
        <li><a href="/admin/dashboard">Dashboard</a></li>
        <li><a href="/admin/products">Products</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/categories">Category</a></li>
      </ul>
    </aside>
    <main class="main-content">
      <header class="topbar">
        <input type="text" placeholder="Search" class="search-bar">
        <div class="user-options">
          <span>Admin</span>
          <button class="logout-btn">Logout</button>
        </div>
      </header>
      <section class="dashboard">
        <h1>Dashboard</h1>
      </section>
    </main>
  </div>
</body>
</html>
